@import url(https://fonts.google.com/specimen/Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* Cores */
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --darkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Fontes */
    --weightMedio: 500;
    --weightMaior: 700;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cream);
}

.card {
    max-width: 600px;
    display: grid;
    grid-template-rows: 1fr ;
    margin: 2rem 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
}

.card .box {
    max-width: 590px;
    height: 250px;
}

.card picture { 
   width: 100%;
}

picture img {
    max-width: 100%;
    height: 100%;
}

.card .description { margin: 1.5rem; }

.description button { 
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--darkCyan);
    color: var(--white);
    font-size: 1rem;
    font-weight: var(--weightMaior);
}

.description button img { margin-right: 0.5rem; }

.content h1 { 
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
    color: var(--darkBlue); 
    font-family: 'Fraunces', serif;
    font-weight: var(--weightMaior);
}

.content p, .values p {
    color: var(--darkGrayishBlue);
    font-size: 14px;
    font-weight: var(--weightMedio);
    line-height: 1.5rem;
}

.content p:first-child { letter-spacing: 0.4rem; }

.values {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.values h2 {
    color: var(--darkCyan);
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: var(--weightMaior);
}

.values p { text-decoration: line-through; }

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1440px) {

    .card {
        grid-template-columns: 1fr 1fr;
        max-width: 620px;
    }

    .card .description { margin: 2rem; }

    .content h1 { margin-right: 1rem; }

    .content p:first-child { font-size: 11px; }
}